<!doctype html>
<html>
  <head>
    <title>Hello React</title>
    <%= javascript_include_tag 'react-with-addons.js' %>
  </head>
  <body>
    <div id="container"></div>
    <%= javascript_include_tag 'example' %>
  </body>
</html>
