<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div id="placeholder" style="display: none"></div>
  <div id="render_here"></div>
  <%= javascript_include_tag 'vendor/es5-shim.min' %>
  <%= javascript_include_tag 'vendor/jquery-2.2.4.min' %>
  <%= javascript_include_tag @server.main %>
</body>
</html>
