<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <%= javascript_include_tag 'reactjs/react-with-addons.js' %>
  <%= javascript_include_tag @server.main %>
  <div id="placeholder" style="display: none"></div>
</body>
</html>