!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %script{:type => "text/javascript",
            :src  => "http://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js"}
    %link(rel="stylesheet" href="/vendor/base.css")
    = javascript_include_tag 'application'

  %body
    %section#todoapp
    #info
      %p Double-click to edit a todo
      %p
        Part of
        %a(href="http://todomvc.com") TodoMVC
